@import url('https://fonts.googleapis.com/css?family=Forum');

.chart {
    width: 100%;
    max-width: 1140px;
}

.bar {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.text-invert {
    font-size: 16px;
    font-family: 'sans-serif';
    font-weight: 900;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.text {
    font-size: 16px;
    font-family: 'sans-serif';
    font-weight: 900;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.font-forum{
    font-family: 'Forum', cursive;
}

.highlighted:not(.posting) {
    stroke-width: 9;
}
.highlighted.posting {
    border-width: 3px;
    padding: 3px;
}

.posting {
    margin: 2px;
    border-style: solid;
}

.posting:not(.highlighted) {
    border-width: 1px;
    padding: 5px;
    border-color: #000000;
}

.rbt-input-multi.form-control {
    height: auto;
}

.refresh-finder-control {
    width: inherit;
}

$colorsA: (
'1': #C2302A,
'6': #Db4E30,
'9': #F46A35,
'4': #F2883F,
'5': #EEA74A,
'2': #ECC556,
'7': #A0B671,
'8': #58A592,
'3': #0095B6,
'10': #007895,
'11': #005C75,
'0': #0E3F54,
);


// diverging
$colorsB: (
'0': #E72732,
'10': #EF6136,
'6': #F58C39,
'9': #FFC43E,
'2': #F2E443,
'3': #8ABA4E,
'8': #008E60,
'5': #0096B7,
'1': #1773AD,
'11': #425296,
'7': #6E3E89,
'4': #C5237C,
);

$colorsC: (
'0': #E92132,
'5': #F06936,
'8': #F99439,
'3': #FEB93C,
'4': #F9EC44,
'1': #91BF4E,
'6': #00924E,
'7': #009890,
'2': #006CAF,
'9': #2B397C,
'10': #922D7D,
'11': #E91E52,
);

// default gray/green
$colorsD: (
'0': #267D7B,
'1': #8FC273,
'2': #21384E,
'3': #C4DF79,
'4': #7CB0B0,
'5': #BBDAAB,
'6': #768594,
'7': #DBEAAC,
'8': #509597,
'9': #A6CF8E,
'10': #475E6D,
'11': #D0E594,
);



@each $i, $color in $colorsD {
    .line.field-#{$i} {
        fill: none;
        stroke: $color;
        stroke-width: 6;
    }
    .arc.field-#{$i} {
        stroke: $color;
        fill: $color;
    }
    .text.field-#{$i} {
        fill: $color;
        font-size: 20px;
    }
    .bar.field-#{$i} {
        stroke: white;
        fill: $color;
    }
    .divbar.field-#{$i} {
        background-color: $color;
    }
    .area.field-#{$i} {
        stroke: $color;
        fill: $color;
    }
    .circle.field-#{$i} {
        stroke: $color;
        fill: white;
        stroke-width: 5;
        r: 6;
    }
    .posting.highlighted.field-#{$i} {
        border-color: $color;
    }
}

.tip-hover {
    fill: #FFFFFF;
    stroke: map-get($colorsD, '0');
    stroke-width: 1;
}

.box {
    opacity: 0.2;
    fill: map-get($colorsD, '0');
}


.axis {
    font-size: 32px;
    font-family: 'Forum', cursive;
}

.tip-text {
    font-size: 28px;
    font-family: 'Forum', cursive;
    margin: 6px;
}

.chart-title {
    font-size: 32px;
    font-family: 'Forum', cursive;
    vertical-align: middle;
    width: 100%;
}

.modal-content { overflow: visible; }

.hoverBold {
    font-weight: normal;
    cursor: pointer;
}
.hoverBold:hover {
    font-weight: bold;
}
.glyphicon {
    pointer-events: none;
}

.form-control.date-time {
    width: 156px;
}

.rbt-dont-edit .rbt-input-hint-container {
    display: none !important;
}
.rbt-dont-edit .rbt-input {
    min-height: 34px;
}

.container {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.header {
    margin-right: 10px;
}

.content {
    height: 96px;
}

.content-expanded {
    height: auto;
}

.legend-text {
    dominant-baseline: mathematical;
}

div.registration-table td {
    padding-bottom: 10px;

    +td {
        width: 100%;
    }

    label.control-label {
        margin: auto 8px auto 0px;
    }
}

.date {
    white-space: nowrap;
    margin: auto 0;
    font-family: 'Forum', cursive;
    font-size: 24px;
}

.btn.btn-icon {
    min-width: 42px;
    height: 35px;
    padding: 0;
    margin: 0 2px 0 2px;
    border-color: #ced4da;
}

.btn-icon:first-child {
    margin-left: 0;
}

.btn-icon:last-child {
    margin-right: 0;
}

.btn-icon:only-child {
    margin-right: 0;
    margin-left: 0;
}

.btn-lightborder button{
    border-color: #ced4da !important;
    margin-bottom: 6px;
}

.btn-lightborder{
    border-color: #ced4da !important;
}

input:not(.rbt-input-main) {
    height: 35px !important;
}

.btn-icon span {
    pointer-events: none;
}

.dialog-title {
    text-transform: capitalize;
}

.btn-label {
    text-transform: capitalize;
}

div.btn-row {
    display: flex;
    flex-wrap: wrap;

    div, Button {
        margin-right: 2px;
    }

    div:last-child {
        margin-right: 0;
    }
}

.dot {
    width: 6px;
    height: 6px;
    position: absolute;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
}

div.btn-row-inline {
    display: flex;
    flex-direction: row;

    div {
        margin-right: 6px;
    }
}

.modal-dialog.chart-editor {
    min-width: 90%;
}

.labeled-input {
    margin-top: 12px;

    .form-label {
        margin: auto 10px auto 0;
        text-transform: capitalize;
        font-size: 20px;
    }
}

div.topic-block {
    margin: 0 0 6px 0;

    div {
        margin: 0 0 2px 0;
    }

    div:last-child {
        margin: 0;
    }
}

.posting-image {
    height: 102px;
}

.input-row {
    display: flex;
    flex-direction: row;
}

.labeled-input .rbt {
    width: 100%;
}

.table {
    margin-top: 12px;
}

h3 {
    margin-top: 16px;
}

.btn-main {
    display: block;
    width: 60%;
    height: 50px;
    margin: 24px auto 120px auto;
    font-size: 24px;
}

.btn-tiny-badge {
    height: 27px;
    padding: 0px 6px;
    pointer-events: none;
}

textarea.form-control {
    height: 35px;
}