<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
</head>
<body>
  {% csrf_token %}
  <div id="users-device-size" style="height: 0px">
    <!--<div id="xs" class="d-block d-sm-none">XS</div>-->
    <!--<div id="sm" class="d-none d-sm-block d-md-none">SM</div>-->
    <!--<div id="md" class="d-none d-md-block d-lg-none">MD</div>-->
    <!--<div id="lg" class="d-none d-lg-block d-xl-none">LG</div>-->
    <!--<div id="xl" class="d-none d-xl-block">XL</div>-->
  </div>
  <section class="section">
    <div class="container">
      <div id="account" class="columns"><!-- React --></div>
    </div>
  </section>
</body>

{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>-->
<script src="{% static 'frontend/account.js' %}"></script>
</html>