<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
  <link rel="stylesheet" href="{% static 'frontend/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">-->
  <link rel="stylesheet" href="{% static 'frontend/all.css' %}" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <title>Twitter</title>
</head>
<body>
  {% csrf_token %}
  <div id="users-device-size" style="height: 0px">
      <div id="xs" class="d-block d-sm-none"></div>
      <div id="sm" class="d-none d-sm-block d-md-none"></div>
      <div id="md" class="d-none d-md-block d-lg-none"></div>
      <div id="lg" class="d-none d-lg-block d-xl-none"></div>
      <div id="xl" class="d-none d-xl-block"></div>
  </div>
  <section class="section">
    <div class="container">
      <div id="application" class="columns"><!-- React --></div>
    </div>
  </section>
</body>

<script>
  const id = (() => {
    let currentId = 0;
    const map = new WeakMap();

    return (object) => {
      if (!map.has(object)) {
        map.set(object, ++currentId);
      }

      return map.get(object);
    };
  })();

  const test = (a, b) => {
    //console.log("test", a, b);
    if (a == null && b == null) {
      return false;
    }

    if ((a == null) != (b == null)) {
      return true;
    }

    if (id(a) != id(b)) {
      return true;
    }

    return false;
  };

  function setBootstrapScale() {
    document.querySelector("#users-device-size").querySelectorAll("div").forEach(node => {
      if (getComputedStyle(node).display == "block") {
        window.bootstrapScale = node.id;
      }
    })
  }

  window.addEventListener("resize", setBootstrapScale);
  window.addEventListener("open", setBootstrapScale);

  setBootstrapScale();

  window.user = "{{user.username}}";
  window.lang = "en";
</script>
<script src="{% static 'frontend/application.js' %}"></script>
</html>